WebSocketFlow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>Test WebSocketFlow</description><name>WebSocketFlow</name><snippet><connections><id>e4e41e03-5781-4fdc-9a6a-cd7f309c9698</id><parentGroupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</groupId><id>80a5a4dc-1351-44a2-92a0-85fb726d17c0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</groupId><id>c7750443-5486-4ade-961c-791d4a3eff2f</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b7b94e3d-6f44-44bc-92ca-d94f8b880e87</id><parentGroupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</groupId><id>b57cddf9-4b05-41bf-8012-9a5265338db5</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</groupId><id>f9a309ba-18e9-4049-846b-0a24da4a47f4</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>157be23d-8e9c-4a19-827f-4febf0001174</id><comments></comments><descriptors><entry><key>Listening Port</key><value><description>the port to listen on for incoming connections</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>URL prefix</key><value><defaultValue>/eventbus/*</defaultValue><description>URL context path where clients can connect</description><displayName>URL prefix</displayName><dynamic>false</dynamic><name>URL prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>inbound address regex</key><value><defaultValue>.*</defaultValue><description>permitted matches for inbound (client-&gt;server) traffic</description><displayName>inbound address regex</displayName><dynamic>false</dynamic><name>inbound address regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>outbound address regex</key><value><defaultValue>.*</defaultValue><description>permitted matches for outbound (server-&gt;client) traffic</description><displayName>outbound address regex</displayName><dynamic>false</dynamic><name>outbound address regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>VertxService</name><properties><entry><key>Listening Port</key><value>5555</value></entry><entry><key>URL prefix</key><value>/eventbus/*</value></entry><entry><key>inbound address regex</key><value>.*</value></entry><entry><key>outbound address regex</key><value>.*</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>outbound address</key><value><description>address where outbound message will be published</description><displayName>outbound address</displayName><dynamic>false</dynamic><name>outbound address</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Vertx Service</key><value><allowableValues><displayName>VertxService</displayName><value>157be23d-8e9c-4a19-827f-4febf0001174</value></allowableValues><description>The ControllerService that is used to obtain eventBus instance</description><displayName>Vertx Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.crossbusiness.nifi.controllers.VertxServiceInterface</identifiesControllerService><name>Vertx Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</groupId><id>80a5a4dc-1351-44a2-92a0-85fb726d17c0</id><name>SendEventBus</name><properties><entry><key>outbound address</key><value>test.123</value></entry><entry><key>Vertx Service</key><value>157be23d-8e9c-4a19-827f-4febf0001174</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.crossbusiness.nifi.processors.SendEventBus</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>inbound address</key><value><description>The address where this processor will subscribe to eventBus to receive messages</description><displayName>inbound address</displayName><dynamic>false</dynamic><name>inbound address</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Vertx Service</key><value><allowableValues><displayName>VertxService</displayName><value>157be23d-8e9c-4a19-827f-4febf0001174</value></allowableValues><description>The ControllerService that is used to obtain eventBus instance</description><displayName>Vertx Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.crossbusiness.nifi.controllers.VertxServiceInterface</identifiesControllerService><name>Vertx Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</groupId><id>f9a309ba-18e9-4049-846b-0a24da4a47f4</id><name>GetEventBus</name><properties><entry><key>inbound address</key><value>test.123</value></entry><entry><key>Vertx Service</key><value>157be23d-8e9c-4a19-827f-4febf0001174</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.crossbusiness.nifi.processors.GetEventBus</type></referencingComponents><state>ENABLED</state><type>com.crossbusiness.nifi.controllers.VertxService</type></controllerServices><processors><id>b57cddf9-4b05-41bf-8012-9a5265338db5</id><parentGroupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</parentGroupId><position><x>271.71258068405774</x><y>205.57050229636047</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/Developer/Work/nifi/nifi-websocket/out</value></entry><entry><key>Conflict Resolution Strategy</key><value>fail</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutFile</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>f9a309ba-18e9-4049-846b-0a24da4a47f4</id><parentGroupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</parentGroupId><position><x>272.82815267266193</x><y>-0.158371661216421</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>inbound address</key><value><description>The address where this processor will subscribe to eventBus to receive messages</description><displayName>inbound address</displayName><dynamic>false</dynamic><name>inbound address</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Vertx Service</key><value><allowableValues><displayName>VertxService</displayName><value>157be23d-8e9c-4a19-827f-4febf0001174</value></allowableValues><description>The ControllerService that is used to obtain eventBus instance</description><displayName>Vertx Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.crossbusiness.nifi.controllers.VertxServiceInterface</identifiesControllerService><name>Vertx Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>inbound address</key><value>test.123</value></entry><entry><key>Vertx Service</key><value>157be23d-8e9c-4a19-827f-4febf0001174</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetEventBus</name><relationships><autoTerminate>false</autoTerminate><description>Relationship for successfully received FlowFiles</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.crossbusiness.nifi.processors.GetEventBus</type></processors><processors><id>80a5a4dc-1351-44a2-92a0-85fb726d17c0</id><parentGroupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</parentGroupId><position><x>641.876012412368</x><y>211.48398298719255</y></position><config><bulletinLevel>DEBUG</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>outbound address</key><value><description>address where outbound message will be published</description><displayName>outbound address</displayName><dynamic>false</dynamic><name>outbound address</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Vertx Service</key><value><allowableValues><displayName>VertxService</displayName><value>157be23d-8e9c-4a19-827f-4febf0001174</value></allowableValues><description>The ControllerService that is used to obtain eventBus instance</description><displayName>Vertx Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.crossbusiness.nifi.controllers.VertxServiceInterface</identifiesControllerService><name>Vertx Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>outbound address</key><value>test.123</value></entry><entry><key>Vertx Service</key><value>157be23d-8e9c-4a19-827f-4febf0001174</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SendEventBus</name><relationships><autoTerminate>true</autoTerminate><description>any flowFile that cannot be published to EventBus will be routed to failure</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Relationship for successfully received FlowFiles</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.crossbusiness.nifi.processors.SendEventBus</type></processors><processors><id>c7750443-5486-4ade-961c-791d4a3eff2f</id><parentGroupId>2ff01468-943b-4762-9eb3-cac99ab61f0e</parentGroupId><position><x>640.7678668604367</x><y>5.031074718399218</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Listening Port</key><value><description>The Port to listen on for incoming connections</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Receive per Second</key><value><description>The maximum amount of data to receive per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Receive per Second</displayName><dynamic>false</dynamic><name>Max Data to Receive per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Authorized DN Pattern</key><value><defaultValue>.*</defaultValue><description>A Regular Expression to apply against the Distinguished Name of incoming connections. If the Pattern does not match the DN, the connection will be refused.</description><displayName>Authorized DN Pattern</displayName><dynamic>false</dynamic><name>Authorized DN Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value><defaultValue>60 secs</defaultValue><description>The maximum amount of time to wait for a FlowFile to be confirmed before it is removed from the cache</description><displayName>Max Unconfirmed Flowfile Time</displayName><dynamic>false</dynamic><name>Max Unconfirmed Flowfile Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key><value><description>Specifies the Regular Expression that determines the names of HTTP Headers that should be passed along as FlowFile attributes</description><displayName>HTTP Headers to receive as Attributes (Regex)</displayName><dynamic>false</dynamic><name>HTTP Headers to receive as Attributes (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Listening Port</key><value>5001</value></entry><entry><key>Max Data to Receive per Second</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Authorized DN Pattern</key><value>.*</value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value>60 secs</value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListenHTTP</name><relationships><autoTerminate>false</autoTerminate><description>Relationship for successfully received FlowFiles</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListenHTTP</type></processors></snippet><timestamp>09/29/2015 03:10:15 PDT</timestamp></template>